.list-msg-box {
  height: calc(100vh - 120px); 
  overflow-y: auto;
  .msg-item {
    padding: 8px;
    .list-msg-child {
      margin-top: 8px;
      .msg-item-child {
        margin: 0px auto;
      }
    }
    .user-link {
      cursor: pointer;
    }
  }
}