.list-room {
    list-style: none;
    padding-left: 0;
    li {
        padding: 0;
        &.active {
            .room-link {
                background-color: rgb(253, 242, 177);
            }
        }
        .room-link {
            text-decoration: none;
            height: 18px;
            display: block;
            font-size: 14px;
            padding: 7px 9px;
            color: darkslategrey;
            &:hover {
                background-color: rgb(253, 242, 177);
            }
            &.has-notify {
                font-weight: bold;
                color: black;
                .mention-num-label {
                    background: gold;
                    padding: 1px 5px;
                    border-radius: 50%;
                    color: red;
                }
            }
        }
        &.room-label {
            text-align: center;
            font-weight: bolder;
        }
        .add-room-btn {
            float: right;
            margin-right: 5px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                background-color: lightgoldenrodyellow;
            }
        }
    }
}