.list-room {
    list-style: none;
    padding-left: 0;
    li {
        padding: 0 5px;
        &.active {
            .room-link {
                text-decoration-style: wavy;
                text-decoration: underline;
            }
        }
        .room-link {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &.room-label {
            text-align: center;
            font-weight: bolder;
        }
        .add-room-btn {
            float: right;
            margin-right: 5px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}