.auth-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: darkgrey;
    text-align: center;
    .login-box, .register-box {
        width: 400px;
        margin: 100px auto 0px auto;
        background-color: white;
        padding: 5px;
        text-align: left;
    }
}